<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">The Best Site</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/" th:text="#{home}">Home page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/overview" th:text="#{overview}">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/overview/add" th:text="#{add-review}">Add review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/my-profile " th:text="#{profile}">My profile</a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/administration" th:text="#{admin}">Administration</a>
                    </li>
                </ul>

                <div>
                    <form class="header-lang-ru" style="margin-right: 30px" th:action="@{/}" method="post">
                        <button class="translate btn-dark" disabled>Dark theme</button>
                    </form>
                </div>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group" >

                        <form class="nav-item" style="margin-right: 6px">
                            <a th:href="@{?lang=ru}" class="btn-dark" th:text="#{ru}"></a>
                        </form>
                    </div>
                    <div class="btn-group mr-2 " role="group" aria-label="Second group" >

                        <form class="nav-item" style="margin-right: 25px">
                            <a th:href="@{?lang=en}" class="btn-dark" th:text="#{en}"></a>
                        </form>
                    </div>
                </div>
                <form sec:authorize="hasAuthority('ADMIN') or hasAuthority('USER')"
                      class="form-inline" th:action="@{/logout}" method="post">
                    <button class="btn btn-outline-success" th:text="#{logout}">Exit</button>
                </form>
                <form sec:authorize="isAnonymous()" class="form-inline" th:action="@{/login}" method="get">
                    <button class="btn btn-outline-success" th:text="#{login}">Login</button>
                </form>
            </div>
        </div>
    </nav>
</div>>