<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">The Best Site</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active lang" key="home" aria-current="page" href="/">Home page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lang" key="overview" href="/overview">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lang" key="add-review" href="/overview/add">Add review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lang" key="profile" href="/myProfile">My profile</a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                        <a class="nav-link active lang" key="admin" aria-current="page" href="/administration">Administration</a>
                    </li>
                </ul>

                <div>
                    <form class="header-lang-ru" style="margin-right: 30px" th:action="@{/#}" method="post">
                        <button class="translate btn-dark">Dark theme</button>
                    </form>
                </div>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group" >
                        <li class="header-lang-ru" style="margin-right: 6px">
                            <button id="ru" class="translate btn-dark">RU</button>
                        </li>
                    </div>
                    <div class="btn-group mr-2 " role="group" aria-label="Second group" >
                        <li class="header-lang-en" style="margin-right: 25px">
                            <button id="en" class="translate btn-dark">EN</button>
                        </li>
                    </div>
                </div>
                <form sec:authorize="hasAuthority('ADMIN') or hasAuthority('USER')"
                      class="form-inline" th:action="@{/logout}" method="post">
                    <button class="btn btn-outline-success lang" key="logout">Exit</button>
                </form>
                <form sec:authorize="isAnonymous()" class="form-inline" th:action="@{/login}" method="get">
                    <button class="btn btn-outline-success lang" key="login">Login</button>
                </form>
            </div>
        </div>
    </nav>
</div>>