<div th:fragment="translation">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', getLocalLang)

        const arrLang = {
            'en': {
                'add': 'Add',
                'add-review': 'Add review',
                'add-review-admin': 'Add review as User',
                'admin': 'Administration',
                'all-users': 'All users',
                'avatar': 'Avatar',
                'back': 'Back',
                'block': 'Block',
                'delete': 'Delete',
                'description': 'Description',
                'detail': 'Detail',
                'actions': 'Actions',
                'edit': 'Edit',
                'edit-review': 'Edit review',
                'email': 'Email',
                'first-name': 'First name',
                'home': 'Home page',
                'image': 'Image',
                'input': 'Input file',
                'last-name': 'Last name',
                'login': 'Login',
                'logout': 'Exit',
                'make-remove-admin': 'Make/Remove admin',
                'my-reviews': 'My reviews',
                'new-comment': 'New comment',
                'new-review': 'New review',
                'overview': 'Overview',
                'password': 'Password',
                'post-comment': 'Post comment',
                'profile': 'My profile',
                'profile-settings': 'Profile settings',
                'register': 'Register',
                'repeat-password': 'Repeat password',
                'role': 'Role',
                'save': 'Save',
                'Show user page': 'Show user page',
                'status': 'Status',
                'title': 'Title',
                'text': 'Text',
                'unlock': 'Unlock',
                'unlocked-blocked': 'Unlocked/Blocked',
                'username': 'Username',

            },
            'ru': {
                'add': 'Добавить',
                'add-review': 'Добавить обзор',
                'add-review-admin': 'Добавить обзор как пользователь',
                'admin': 'Администрирование',
                'all-users': 'Все пользователи',
                'avatar': 'Аватарка',
                'back': 'Назад',
                'block': 'Блокировать',
                'delete': 'Удалить',
                'description': 'Описание',
                'detail': 'Подробнее',
                'actions': 'Действия',
                'edit': 'Редактировать',
                'edit-review': 'Редактировать обзор',
                'email': 'Эл.ящик',
                'first-name': 'Имя',
                'home': 'Главная страница',
                'image': 'Картинка',
                'input': 'Выбрать файл',
                'last-name': 'Фамилия',
                'login' : 'Войти',
                'logout' : 'Выйти',
                'make-remove-admin': 'Создать/Удалить admin',
                'my-reviews': 'Мои обзоры',
                'new-comment': 'Новый комментарий',
                'new-review': 'Новый обзор',
                'overview': 'Обзоры',
                'password': 'Пароль',
                'post-comment': 'Оставить комментарий',
                'profile': 'Мой профиль',
                'profile-settings': 'Настройки профиля',
                'register': 'Регистрация',
                'repeat-password': 'Повторите пароль',
                'role': 'Роль',
                'save': 'Сохранить',
                'Show user page': 'Показать страницу пользователя',
                'status': 'Статус',
                'title': 'Название',
                'text': 'Текст',
                'unlock': 'Разблокировать',
                'unlocked-blocked': 'Разблокировать/Блокировать',
                'username': 'Имя пользователя',
            }
        }

        $(function () {
            $('.translate').click(function () {
                var lang = $(this).attr('id');
                saveLocalLang(lang)
                $('.lang').each(function (index, item) {
                    $(this).text(arrLang[lang][$(this).attr('key')]);
                });
            });
        });

        function saveLocalLang(language) {
            let langs
            if (localStorage.getItem('langs') === null) {
                langs = []
            } else {
                langs = JSON.parse(localStorage.getItem('langs'))
            }
            langs.push(language)
            localStorage.setItem('langs', JSON.stringify(langs))
        }

        function getLocalLang() {
            let langs
            if (localStorage.getItem('langs') === null) {
                langs = []
            } else {
                langs = JSON.parse(localStorage.getItem('langs'))
            }
            langs.forEach(function (language) {
                let lang = langs[langs.length - 1]
                setTimeout(() => {
                    $('.lang').each(function (index, item) {
                        $(this).text(arrLang[lang][$(this).attr('key')]);
                    });
                }, 0)
            })
        }
    </script>
    <script src="https://kit.fontawesome.com/c833054982.js" crossorigin="anonymous"></script>
</div>